.AssignedJobs {
	height: 100%;
	width: 100%;
	display: flex;
	flex-direction: column;
	gap: 1rem;
	overflow-y: scroll;
	padding-right: .5rem;

	@supports (-moz-appearance: none) {
		scrollbar-width: thin;
		scrollbar-color: var(--c23);
	}

	&::-webkit-scrollbar {
		width: 0.2rem;
	}

	&::-webkit-scrollbar-thumb {
		border-radius: 1rem;
		background: var(--c23);
	}

	.Row1 {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		column-gap: 1.5rem;

		.Col1,
		.Col2,
		.Col3 {
			height: 12.0415rem;
			border-radius: 1.75481rem;
			background: rgba(255, 255, 255, 0.03);

			display: flex;
			align-items: center;
			justify-content: space-between;
			padding: 2rem;

			.LeftSection {
				display: flex;
				flex-direction: column;
				gap: 0.8rem;
				h3 {
					color: var(--c2);
					font-feature-settings: "clig" off, "liga" off;
					font-family: var(--f1);
					font-size: 1.08919rem;
					font-style: normal;
					font-weight: 600;
					line-height: 1.69431rem; /* 155.556% */
				}
				.Jobs {
					display: flex;
					align-items: flex-end;
					gap: 1rem;

					h4 {
						color: var(--c2);
						font-feature-settings: "clig" off, "liga" off;
						font-family: var(--f1);
						font-size: 2.16681rem;
						font-style: normal;
						font-weight: 600;
						// line-height: 2.88913rem; /* 133.333% */
					}
					p {
						color: var(--c3);
						font-family: var(--f1);
						font-size: 1.07375rem;
						font-style: normal;
						font-weight: 500;
						line-height: normal;
						margin-bottom: 0.2rem;
					}
				}
				.Bottom {
					align-self: flex-end;
					display: flex;
					align-items: center;
					gap: 1rem;
					.Hike {
						display: flex;
						align-items: center;
						padding: 0.125rem 0.25rem;
						gap: 0.625rem;
						border-radius: 0.125rem;
						background: var(--bg4);

						&.Down {
							background: var(--bg5);
							p {
								color: var(--c4);
							}
							svg {
								transform: rotate(90deg);
								path {
									stroke: var(--c4);
								}
							}
						}
						p {
							color: var(--c5);
							font-feature-settings: "clig" off, "liga" off;
							font-family: var(--f1);
							font-size: 0.625rem;
							font-style: normal;
							font-weight: 500;
							line-height: normal; /* 140% */
						}
						svg {
							width: 0.5rem;
							height: 0.5rem;
						}
					}
					p {
						color: var(--c6);
						font-family: var(--f1);
						font-size: 0.75rem;
						font-style: normal;
						font-weight: 400;
						line-height: normal;
					}
				}
			}

			svg {
				width: 5.46831rem;
				height: 5.46831rem;
			}
		}
	}

	.Row2 {
		display: flex;
		flex-direction: column;
		gap: 1rem;

		h2 {
			color: var(--c2);
			font-feature-settings: "clig" off, "liga" off;
			font-family: var(--f1);
			font-size: 1.5rem;
			font-style: normal;
			font-weight: 600;
			line-height: 1.75rem; /* 116.667% */
		}

		.Actions {
			display: flex;
			align-items: center;
			justify-content: space-between;

			.Left {
				display: flex;
				align-items: center;
				gap: 1rem;

				button {
					padding: 0rem 1.40769rem;
					border-radius: 9.38463rem;
					background: var(--bg2);
					color: var(--c14);
					font-family: var(--f1);
					font-size: 0.82113rem;
					font-style: normal;
					font-weight: 400;
					line-height: 2.34613rem; /* 285.714% */
					text-transform: capitalize;
					border: none;
					cursor: pointer;
					transition: all 0.3s ease-in-out;

					&.active {
						border-radius: 9.38463rem;
						background: var(--Buttons, linear-gradient(97deg, #8f00ff 9.79%, #fff 236.98%));
						color: var(--c2);
					}
				}
			}

			.Right {
				display: flex;
				align-items: center;
				gap: 3rem;

				.Action {
					display: flex;
					align-items: center;
					gap: 3rem;

					p {
						color: var(--c2);
						font-family: var(--f1);
						font-size: 0.875rem;
						font-style: normal;
						font-weight: 400;
						line-height: 1.5rem; /* 171.429% */
						cursor: pointer;
						transition: all 0.3s ease-in-out;

						&.Active {
							background: var(--Buttons, linear-gradient(97deg, #8f00ff 9.79%, #fff 236.98%));
							background-clip: text;
							-webkit-background-clip: text;
							-webkit-text-fill-color: transparent;
							border-bottom: 2px solid var(--Buttons, #8f00ff);
						}
					}
				}

				.Assign {
					display: flex;
					height: 3.625rem;
					padding: 0.875rem 1.4375rem;
					justify-content: center;
					align-items: center;
					gap: 0.625rem;
					border-radius: 0.9375rem;
					background: rgba(255, 255, 255, 0.03);
					cursor: pointer;
					transition: all 0.3s ease-in-out;

					&:hover {
						background: rgba(255, 255, 255, 0.2);
					}

					svg {
						width: 1.875rem;
						height: 1.875rem;
					}

					p {
						color: var(--c2);
						font-feature-settings: "clig" off, "liga" off;
						font-family: var(--f1);
						font-size: 1rem;
						font-style: normal;
						font-weight: 400;
					}
				}
			}
		}

		.noText{
			width: 100%;
			height: 5rem;
			color: #fff;
			font-size: 1.8rem;
			display: flex;
			align-items: center;
			justify-content: center;
			overflow: hidden;
		}

		.Cards {
			display: grid;
			grid-template-columns: repeat(3, 1fr);
			column-gap: 1.5rem;
			gap: 1.5rem;

			.Card {
				min-height: 17.8125rem;
				border-radius: 1.25rem;
				border: 0.645px solid rgba(20, 20, 20, 0.05);
				background: rgba(255, 255, 255, 0.03);
				box-shadow: 0px 0.645px 1.29px 0px rgba(0, 0, 0, 0.03);
				padding: 1.4rem 1.06rem 1.9rem 1.69rem;
				display: flex;
				flex-direction: column;
				gap: 0.7rem;
				cursor: pointer;

				.Line1 {
					display: flex;
					align-items: flex-end;
					gap: 1rem;

					.Profile {
						flex: 1;
						overflow: hidden;
						display: flex;
						align-items: center;
						gap: 0.4rem;

						img {
							width: 2.90238rem;
							height: 2.90238rem;
							border-radius: 0.3125rem;
						}

						.Details {
							flex: 1;

							h3 {
								color: var(--c2);
								font-family: var(--f1);
								font-size: 0.75rem;
								font-style: normal;
								font-weight: 400;
								line-height: 150%; /* 1.125rem */
								white-space: nowrap;
								overflow: hidden;
								text-overflow: ellipsis;
							}

							p {
								color: var(--c2);
								font-family: var(--f1);
								font-size: 0.96744rem;
								font-style: normal;
								font-weight: 500;
								line-height: 150%; /* 1.45119rem */
								white-space: nowrap;
								overflow: hidden;
								text-overflow: ellipsis;
							}
						}
					}

					.Progress {
						display: flex;
						height: 1.6875rem;
						padding: 0.25rem 0.875rem;
						flex-direction: column;
						justify-content: center;
						align-items: center;
						border-radius: 1.125rem;
						background: rgba(53, 139, 254, 0.08);

						p {
							color: var(--c27);
							text-align: center;
							font-family: var(--f1);
							font-size: 0.625rem;
							font-style: normal;
							font-weight: 400;
							line-height: normal;
						}
					}

					.Link {
						position: relative;
						width: 1.5rem;
						height: 1.5rem;
						align-self: flex-start;

						svg {
							width: 100%;
							height: 100%;
						}

						.dropdownContent {
							width: 20.5rem;
							height: 3.5625rem;
							border-radius: 0.9375rem;
							background: #4b4444;
							display: flex;
							z-index: 10;
							position: absolute;
							top: -1.5rem;
							right: -9.5rem;
							align-items: center;
							gap: 0.75rem;
							padding: 0 0.5rem;
							transition: all 0.3s ease-in-out;
							transform: scale(0);
							visibility: hidden;

							&::before {
								content: "";
								position: absolute;
								bottom: -0.5rem;
								right: 2rem;
								background: #4b4444;
								width: 1rem;
								height: 1rem;
								rotate: 45deg;
								z-index: 9;
							}

							&::after {
								content: "";
								position: absolute;
								bottom: -3rem;
								right: 0;
								width: 100%;
								height: 100%;
								z-index: 9;
							}

							p {
								flex: 1;
								color: var(--c2);
								font-family: var(--f1);
								font-size: 0.875rem;
								font-style: normal;
								font-weight: 400;
								line-height: normal;
								white-space: nowrap;
								overflow: hidden;
								text-overflow: ellipsis;
								z-index: 10;
							}

							button {
								display: flex;
								width: 7.6875rem;
								height: 2.6875rem;
								padding: 0.875rem 1.4375rem;
								flex-direction: column;
								justify-content: center;
								align-items: center;
								gap: 0.625rem;
								flex-shrink: 0;
								border-radius: 0.9375rem;
								background: var(--Buttons, linear-gradient(97deg, #8f00ff 9.79%, #fff 236.98%));
								border: none;
								cursor: pointer;
								color: var(--c2);
								font-feature-settings: "clig" off, "liga" off;
								font-family: var(--f1);
								font-size: 1rem;
								font-style: normal;
								font-weight: 400;
								line-height: 1.75rem; /* 175% */
								transition: all 0.3s ease-in-out;
								z-index: 10;

								&:hover {
									transform: scale(1.05);
								}
							}
						}

						&:hover .dropdownContent {
							top: -5rem;
							right: -2rem;
							transform: scale(1);
							visibility: visible;
						}
					}
				}

				.Line2 {
					display: flex;
					align-items: center;
					gap: 0.7rem;
					flex-wrap: wrap;

					.Wrapper {
						display: flex;
						align-items: center;
						gap: 0.2rem;

						svg {
							width: 0.64494rem;
							height: 0.64494rem;
						}

						p {
							color: var(--c2);
							font-family: var(--f1);
							font-size: 0.64494rem;
							font-style: normal;
							font-weight: 400;
							line-height: 150%; /* 0.96744rem */
						}
					}

					span {
						display: flex;
						align-items: center;
						justify-content: center;

						svg {
							width: 0.08063rem;
							height: 0.08063rem;

							path {
								fill: var(--2);
							}
						}
					}
				}

				.Line3 {
					display: flex;
					align-items: center;
					gap: 0.7rem;
					button {
						display: flex;
						width: 6.625rem;
						height: 1.25rem;
						flex-direction: column;
						justify-content: center;
						align-items: center;
						border-radius: 6.25rem;
						background: var(--bg2);
						border: none;
						color: var(--c22);
						font-family: var(--f1);
						font-size: 0.64494rem;
						font-style: normal;
						font-weight: 400;
						line-height: 150%; /* 0.96744rem */
					}
					span {
						display: flex;
						align-items: center;
						justify-content: center;
						svg {
							width: 0.12513rem;
							height: 0.12513rem;
						}
					}
				}

				.Line4 {
					p {
						color: var(--c2);
						font-family: var(--f1);
						font-size: 0.64494rem;
						font-style: normal;
						font-weight: 400;
						line-height: 150%; /* 0.96744rem */
						display: -webkit-box;
						-webkit-box-orient: vertical;
						-webkit-line-clamp: 2;
						overflow: hidden;
					}
					span {
						color: var(--c10);
					}
				}

				.Line5 {
					p {
						color: var(--c2);
						font-family: var(--f1);
						font-size: 0.64494rem;
						font-style: normal;
						font-weight: 400;
						line-height: 150%; /* 0.96744rem */
						display: -webkit-box;
						-webkit-box-orient: vertical;
						-webkit-line-clamp: 2;
						overflow: hidden;
					}
					span {
						color: var(--c10);
					}
				}

				.Line6 {
					display: flex;
					align-items: flex-end;
					justify-content: space-between;

					.Left {
						display: flex;
						flex-direction: column;
						gap: 0.4rem;

						p {
							color: var(--c2);
							font-family: var(--f1);
							font-size: 0.59881rem;
							font-style: normal;
							font-weight: 600;
							line-height: normal;
						}

						.Line {
							width: 14.25rem;
							height: 0.26725rem;
							background: rgba(#8f00ff, 0.2);
							overflow: hidden;
							border-radius: 1rem;

							.Progress {
								height: 100%;
								background: var(--c23);
							}
						}
					}

					.Right {
						display: flex;
						flex-direction: column;
						align-items: flex-start;
						gap: 0.25rem;

						h3 {
							color: var(--c2);
							font-family: var(--f1);
							font-size: 0.64494rem;
							font-style: normal;
							font-weight: 400;
							line-height: 150%; /* 0.96744rem */
						}

						.Appliers {
							display: flex;
							align-items: center;
							gap: 0.4rem;

							p {
								color: var(--c2);
								font-family: var(--f1);
								font-size: 0.625rem;
								font-style: normal;
								font-weight: 500;
								line-height: normal;
							}

							.ImageWrapper {
								display: flex;

								.img {
									width: 1.3rem;
									height: 1.3rem;
									border-radius: 50%;
									display: flex;
									align-items: center;
									justify-content: center;
									padding: 0.1rem;

									img {
										width: 100%;
										height: 100%;
										border-radius: 50%;
									}

									&:nth-child(2) {
										margin-left: -0.7rem;
									}
									&:nth-child(3) {
										margin-left: -0.7rem;
									}
									&:nth-child(4) {
										margin-left: -0.7rem;
									}
									&:nth-child(5) {
										margin-left: -0.7rem;
									}
								}
							}
						}
					}
				}
			}
		}
	}
}
